[submodule "packages/server"]
	path = packages/server
	url = git@github.com:HospitalRun/hospitalrun-server.git
	branch = next
[submodule "packages/components"]
	path = packages/components
	url = git@github.com:HospitalRun/components.git
[submodule "packages/hospitalrun-cli"]
	path = packages/cli
	url = git@github.com:HospitalRun/hospitalrun-cli.git
[submodule "packages/frontend"]
	path = packages/frontend
	url = git@github.com:HospitalRun/hospitalrun-frontend.git
	branch = next
